<div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-glass"></i> Brotzeit - The URL Cache
        <div class="btn-group pull-right">
          <button popover-placement="bottom" popover-append-to-body="true"
                  popover="Brotzeit is needed to load all the URLs from the different provisioners into
              its database. After Brotzeit has collected all the URLs it can send out the Wanderers
              to hit the servers." popover-title="What is Brotzeit?" class="close">
            <i class="fa fa-question-circle"></i>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body medium no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Provisioner</th>
              <th>URLs</th>
              <th class="text-center">Cron job</th>
              <th class="text-center">
                <button class="btn btn-xs btn-warning" tooltip="Purge All">
                  <i class="fa fa-bomb"></i>
                </button>
              </th>
              <th class="text-center">
                <button class="btn btn-xs btn-info" tooltip="Refresh All">
                  <i class="fa fa-refresh"></i>
                </button>
              </th>
            </tr>
            </thead>
            <tbody>

            <tr data-ng-repeat-start="bz in bzConfigs">
              <td>
                <rd-nav-icon icon="{{bz.Icon}}"></rd-nav-icon>
                {{ bz.Name }}
              </td>
              <td class="text-right"> {{ bz.UrlCount }}</td>
              <td class="text-center">
                <button class="btn btn-xs" data-ng-click="bz.isCollapsed = !bz.isCollapsed"
                        data-ng-class="{'btn-success':bz.ScheduleIsValid}"
                        title="Configure cron job">
                  <i class="fa fa-clock-o"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-warning" tooltip="Purge"><i class="fa fa-bomb"></i></button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-info" tooltip="Refresh"><i class="fa fa-refresh"></i></button>
              </td>
            </tr>
            <tr data-ng-repeat-end data-collapse="bz.isCollapsed">
              <td colspan="5">
                <form class="form-horizontal" role="form" data-ng-submit="saveCronExpression(bz)">
                  <div class="form-group-sm">
                    <label class="col-xs-4 control-label">Cron Expression</label>

                    <div class="col-xs-4">
                      <input type="text" class="input-sm form-control" data-ng-model="bz.Schedule" placeholder="* * * * * *">
                    </div>
                    <div class="col-xs-4">
                      <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-sm btn-default">Save</button>
                        <button type="button" class="btn btn-sm btn-default" data-ng-click="openCronHelp()">
                          <i class="fa fa-question-circle"></i>
                        </button>
                      </div>

                    </div>
                  </div>
                </form>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p>Mental Note: </p>
    <ul class="list-group" style="border:1px solid pink;">
      <li class="list-group-item">Success/Green: Automatic active</li>
      <li class="list-group-item">Info/Disabled: Automatic not available</li>
      <li class="list-group-item">Info: Automatic not set up</li>
    </ul>
  </div>
</div>