<div class="row" data-ng-controller="systemInfo">
  <div class="col-lg-3 col-md-6 col-xs-12" data-ng-repeat="siw in sysInfoWidgets">
    <rd-widget>
      <rd-widget-body loading="{{siw.loading}}">
        <div class="widget-icon {{siw.iconColor}} pull-left">
          <i class="fa {{siw.icon}}"></i>
        </div>
        <div class="title">{{siw.title}}</div>
        <div class="comment">{{siw.comment}}</div>
        <div class="clearfix"></div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <!--<div class="spacer visible-xs"></div>-->

</div>
<div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-tasks"></i> Servers
        <a href="#" class="pull-right">Manage</a>
      </div>
      <div class="widget-body medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td>RDVMPC001</td>
              <td>238.103.133.37</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDVMPC002</td>
              <td>68.66.63.170</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDVMPC003</td>
              <td>76.117.212.33</td>
              <td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td>
            </tr>
            <tr>
              <td>RDPHPC001</td>
              <td>91.88.224.5</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDESX001</td>
              <td>197.188.15.93</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDESX002</td>
              <td>168.85.154.251</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDESX003</td>
              <td>209.25.191.61</td>
              <td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td>
            </tr>
            <tr>
              <td>RDESX004</td>
              <td>252.37.192.235</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDTerminal01</td>
              <td>139.71.18.207</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td>RDTerminal02</td>
              <td>136.80.122.212</td>
              <td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span></td>
            </tr>
            <tr>
              <td>RDDomainCont01</td>
              <td>196.80.245.33</td>
              <td><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" data-ng-controller="userInfo">
    <rd-widget>
      <rd-widget-header title="Users ({{userCollection.length}})" icon="fa-users">
        <input data-xng-model="u" type="text" placeholder="Search" class="form-control input-sm pull-right search"/>
      </rd-widget-header>
      <rd-widget-body loading="{{isLoading}}" bodyclass="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Username</th>
              <th>Name</th>
              <th>Admin?</th>
              <th>Active?</th>
              <th>Logged in?</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in userCollection">
              <td class="text-center">{{$index+1}}</td>
              <td>{{user.UserName}}</td>
              <td>{{user.Name}}</td>
              <td class="text-center">
                <rd-check checked="{{user.IsAdmin}}"/>
              </td>
              <td class="text-center">
                <rd-check checked="{{user.IsActive}}"/>
              </td>
              <td class="text-center">
                <i class="fa fa-question"></i>
              </td>
            </tr>
            <tr data-ng-if="userCollection.length == 0">
              <td colspan="4">
                <p class="text-center"><strong>No results found...</strong></p>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-plus"></i> Extras
        <button class="btn btn-sm btn-info pull-right">Button</button>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body">

        <div class="message">
          This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
        </div>

        <hr/>

        <div class="message">
          <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#"
                                                                                                                           tooltip="I'm a tooltip!">tooltips</a>
          and all of the other native Bootstrap JS components!
        </div>

        <hr/>

        <form class="form-horizontal" role="form">
          <div class="form-group has-feedback has-success">
            <label for="label" class="col-sm-2 control-label">Inline Form</label>

            <div class="col-sm-5">
              <input type="text" class="form-control"/>
              <span class="fa fa-key form-control-feedback"></span>
            </div>
            <div class="col-sm-5">
              <div class="input-mask">I'm an input mask!</div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- End Main Content -->