<div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-glass"></i> Brotzeit - The URL Cache
        <div class="btn-group pull-right">
          <button type="button" class="close" data-ng-click="openHelp()"><i class="fa fa-question-circle"></i></button>

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body medium no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Provisioner</th>
              <th>URL count</th>
              <th class="text-center">Cron job</th>
              <th class="text-center">
                <button class="btn btn-xs btn-warning"
                        title="Purge All">
                  <i class="fa fa-bomb"></i> Purge All
                </button>
              </th>
              <th class="text-center">
                <button class="btn btn-xs btn-info"
                        title="Refresh All">
                  <i class="fa fa-refresh"></i> Refresh All
                </button>
              </th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><i class="fa fa-sitemap"></i> Sitemap</td>
              <td class="text-right"> 121.125</td>
              <td class="text-center">
                <button class="btn btn-xs btn-success" data-ng-click="showCronForm()"
                        title="Setup cron job"><i
                    class="fa fa-clock-o"></i></button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-warning"
                        title="Purge"><i class="fa fa-bomb"></i></button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-info"
                        title="Refresh"><i class="fa fa-refresh"></i></button>
              </td>
              <td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td>
            </tr>
            <tr>
              <td><i class="fa fa-file-text-o"></i> Textarea</td>
              <td>25</td>
              <td class="text-center">
                <button class="btn btn-xs btn-info"
                        disabled="disabled"
                        title="Setup cron job"><i class="fa fa-clock-o"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-warning"
                        title="Purge"><i class="fa fa-bomb"></i></button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-info"
                        title="Refresh"><i class="fa fa-refresh"></i></button>
              </td>
              <td class="text-center"><span class="text-danger"><i class="fa fa-times"></i></span></td>
            </tr>
            <tr>
              <td><i class="fa fa-file-text-o"></i> G'Analytics</td>
              <td>25</td>
              <td class="text-center">
                <button class="btn btn-xs btn-info"
                        title="Setup cron job"><i class="fa fa-clock-o"></i></button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-warning"
                        title="Purge"><i class="fa fa-bomb"></i></button>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-info"
                        title="Refresh"><i class="fa fa-refresh"></i></button>
              </td>
              <td class="text-center"><span class="text-danger"><i class="fa fa-times"></i></span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <p style="margin: 0 8px;">Brotzeit is needed to load all the URLs from the different provisioners into its
          database.
          After Brotzeit has collected all the URLs it can send out the Wanderers to hit the servers.</p>
      </div>
    </div>
    <p>Mental Note: </p>
    <ul class="list-group" style="border:1px solid pink;">
      <li class="list-group-item">Success/Green: Automatic active</li>
      <li class="list-group-item">Info/Disabled: Automatic not available</li>
      <li class="list-group-item">Info: Automatic not set up</li>
    </ul>
  </div>

  <div class="col-lg-6" data-ng-controller="CronJobController" data-ng-show="isShownCronForm">

    <rd-widget>
      <rd-widget-header title="CronJob Config for {{title}}" icon="{{icon}}">
        <button type="button" class="close" data-ng-click="hideCronForm()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </rd-widget-header>
      <rd-widget-body xloading="isLoading">
        <form name="cronForm" role="form">

          <div class="form-group has-feedback Xhas-success">
            <label for="exampleInputEmail1">Cron Expression</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="* * * * * *">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
        </form>

      </rd-widget-body>
    </rd-widget>

  </div>
</div>