<!doctype html>
<html lang="en" ng-app="Wanderlust">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Wanderlust - A Cache Warmer</title>

  <!-- build:less lib/bootstrap/css/bootstrap.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-growl-v2/build/angular-growl.css">
  <!-- endbuild -->

  <!-- build:css lib/font-awesome/css/font-awesome.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
  <!-- endbuild -->

  <!-- build:less css/dashboard/dashboard.css -->
  <link rel="stylesheet" type="text/css" href="less/dashboard/variables.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/mixins.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/main.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/loading.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/content.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/header.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/sidebar.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/widgets.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/hamburg.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/login.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/custom.less">
  <!-- endbuild -->

  <!-- SCRIPTS -->
  <!-- build:js lib/angular/angular.js -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/angular-libs.js -->
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
  <script type="text/javascript" src="bower_components/angular-gravatar/build/md5.js"></script>
  <script type="text/javascript" src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
  <script type="text/javascript" src="bower_components/angulartics/src/angulartics.js"></script>
  <script type="text/javascript" src="bower_components/angulartics/src/angulartics-piwik.js"></script>
  <script type="text/javascript" src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
  <!-- endbuild -->

  <!-- build:js js/dashboard.js -->
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/core/coreFactory.js"></script>
  <script type="text/javascript" src="app/core/coreRoutes.js"></script>
  <script type="text/javascript" src="app/core/coreServices.js"></script>
  <script type="text/javascript" src="app/directives/check.js"></script>
  <script type="text/javascript" src="app/directives/loading.js"></script>
  <script type="text/javascript" src="app/directives/widget.js"></script>
  <script type="text/javascript" src="app/directives/widget-header.js"></script>
  <script type="text/javascript" src="app/directives/widget-body.js"></script>
  <script type="text/javascript" src="app/master/masterController.js"></script>
  <script type="text/javascript" src="app/master/masterDirective.js"></script>
  <script type="text/javascript" src="app/dashboard/systemInfoController.js"></script>
  <script type="text/javascript" src="app/dashboard/systemInfoFactory.js"></script>
  <script type="text/javascript" src="app/dashboard/userInfoController.js"></script>
  <script type="text/javascript" src="app/dashboard/userInfoFactory.js"></script>
  <script type="text/javascript" src="app/login/loginController.js"></script>
  <script type="text/javascript" src="app/provisioners/provisionerFactory.js"></script>
  <script type="text/javascript" src="app/provisioners/provisionerController.js"></script>
  <script type="text/javascript" src="app/marketplace/marketplaceController.js"></script>
  <script type="text/javascript" src="app/brotzeit/brotzeitFactory.js"></script>
  <script type="text/javascript" src="app/brotzeit/brotzeitController.js"></script>
  <!-- endbuild -->
  <!-- SCRIPTS -->

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "https://ssl.webpack.de/www.schumacher.fm/piwik/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', 4]);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Piwik Code -->

</head>
<body ng-controller="MasterCtrl">
<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

  <!-- Sidebar -->

  <div id="sidebar-wrapper">
    <ul class="sidebar" data-ng-controller="NavigationController" data-ng-init="initProvNav()">
      <li class="sidebar-main">
        <a href="#/" ng-click="toggleSidebar()">
          Wanderlust
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#/" data-analytics-on="click" data-analytics-event="dashboard"
           data-analytics-category="navigation">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/brotzeit" data-analytics-on="click" data-analytics-event="brotzeit"
           data-analytics-category="navigation">Brotzeit <span class="menu-icon fa fa-glass"></span></a>
      </li>
      <li class="sidebar-title separator"><span>PROVISIONERS</span></li>
      <rd-nav-li data-ng-repeat="prov in provisioners" p="prov"></rd-nav-li>

      <li class="sidebar-list">
        <a href="#/shop" data-analytics-on="click" data-analytics-event="shop"
           data-analytics-category="navigation">Marketplace <span class="menu-icon fa fa-shopping-cart"></span></a>
      </li>

      <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
      <li class="sidebar-list">
        <a href="https://developers.google.com/analytics/devguides/reporting/"
           data-analytics-on="click" data-analytics-event="googleanalytics" data-analytics-category="quicklinks"
           target="_blank">Google Analytics <span
            class="menu-icon fa fa-external-link"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="http://piwik.org/docs/data-analytics-api/"
           data-analytics-on="click" data-analytics-event="piwik" data-analytics-category="quicklinks"
           target="_blank">Piwik Analytics <span class="menu-icon fa fa-external-link"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="https://raw.githubusercontent.com/SchumacherFM/wanderlust/master/mindmap/wanderlust.png"
           data-analytics-on="click" data-analytics-event="architecture" data-analytics-category="quicklinks"
           target="_blank">Architecture <span class="menu-icon fa fa-external-link"></span></a>
      </li>

    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="#/privacy" data-analytics-on="click" data-analytics-event="privacy" data-analytics-category="help">
          Privacy
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/SchumacherFM/wanderlust" target="_blank"
           data-analytics-on="click" data-analytics-event="about" data-analytics-category="help">
          About
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/SchumacherFM/wanderlust/issues" target="_blank"
           data-analytics-on="click" data-analytics-event="issues" data-analytics-category="help">
          Support
        </a>
      </div>
    </div>
  </div>

  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->

      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown">

              <a href="#" data-ng-click="login()" class="dropdown-toggle" data-ng-if="!session.loggedIn"
                 data-analytics-on="click" data-analytics-event="login" data-analytics-category="auth">
                <i class="fa fa-sign-in" style="font-size: 30px" title="Please log in"></i>
              </a>
              <a href="#" class="dropdown-toggle" data-ng-if="session.loggedIn">
                <img gravatar-src="session.email" alt="Welcome! {{ session.name }}" title="Welcome! {{ session.name }}"/>
              </a>

              <ul data-ng-if="session.loggedIn" class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header"> {{ session.name }}</li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#" data-analytics-on="click" data-analytics-event="profile"
                     data-analytics-category="auth"> Profile {{session.userName}}</a>
                </li>
                <li class="link">
                  <a href="#" data-analytics-on="click" data-analytics-event="menuitem"
                     data-analytics-category="auth"> Menu Item </a>
                </li>
                <li class="link">
                  <a href="#"> Menu Item </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a data-ng-click="logout()" class="fa fa-sign-out" data-analytics-on="click"
                     data-analytics-event="logout" data-analytics-category="auth"> Logout </a>
                </li>
              </ul>

            </div>
            <div data-ng-if="session.loggedIn" class="item dropdown">
              <a href="#" class="dropdown-toggle">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Notifications
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Server Down! @todo</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Wanderlust - A cache warmer with priorities
            </div>
            <div class="breadcrumb-links">
              <ncy-breadcrumb/>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <div growl></div>

      <!-- Main Content -->
      <section data-ui-view></section>
      <!-- End Content -->
    </div>
    <!-- End Page Content -->
  </div>
  <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
</body>
</html>
