<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>

  <!-- build:less lib/bootstrap/css/bootstrap.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- endbuild -->

  <!-- build:css lib/font-awesome/css/font-awesome.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
  <!-- endbuild -->

  <!-- build:less css/dashboard/dashboard.css -->
  <link rel="stylesheet" type="text/css" href="less/dashboard/variables.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/mixins.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/main.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/loading.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/content.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/header.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/sidebar.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/widgets.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/hamburg.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/login.less">
  <!-- endbuild -->

  <!-- SCRIPTS -->
  <!-- build:js lib/angular/angular.js -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/angular-resource.js -->
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/angular-cookies.js -->
  <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/ui-bootstrap.js -->
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/ui-bootstrap-tpls.js -->
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/angular-ui-router.js -->
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/gravatar-md5.js -->
  <script type="text/javascript" src="bower_components/angular-gravatar/build/md5.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/gravatar.js -->
  <script type="text/javascript" src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular/angulartics-piwik.js -->
  <script type="text/javascript" src="bower_components/angulartics/src/angulartics.js"></script>
  <script type="text/javascript" src="bower_components/angulartics/src/angulartics-piwik.js"></script>
  <!-- endbuild -->

  <!-- build:js js/dashboard.js -->
  <script type="text/javascript" src="js/dashboard/module.js"></script>
  <script type="text/javascript" src="js/dashboard/factories.js"></script>
  <script type="text/javascript" src="js/dashboard/routes.js"></script>
  <script type="text/javascript" src="js/dashboard/services.js"></script>
  <script type="text/javascript" src="js/dashboard/controllers/master-ctrl.js"></script>
  <script type="text/javascript" src="js/dashboard/controllers/login-ctrl.js"></script>
  <script type="text/javascript" src="js/dashboard/directives/loading.js"></script>
  <!-- endbuild -->
  <!-- SCRIPTS -->

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "https://ssl.webpack.de/www.schumacher.fm/piwik/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 4]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Piwik Code -->

</head>
<body ng-controller="MasterCtrl">
<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

  <!-- Sidebar -->

  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a href="#" ng-click="toggleSidebar()">
          Wanderlust
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#" data-analytics-on="click" data-analytics-event="dashboard"
           data-analytics-category="navigation">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/tables" data-analytics-on="click" data-analytics-event="tables"
           data-analytics-category="navigation">Tables <span class="menu-icon fa fa-table"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#" data-analytics-on="click" data-analytics-event="servers"
           data-analytics-category="navigation">Servers <span class="menu-icon fa fa-tasks"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#" data-analytics-on="click" data-analytics-event="settings"
           data-analytics-category="navigation">Settings <span class="menu-icon fa fa-cogs"></span></a>
      </li>
      <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
      <li class="sidebar-list">
        <a href="https://developers.google.com/analytics/devguides/reporting/"
           data-analytics-on="click" data-analytics-event="googleanalytics" data-analytics-category="quicklinks"
           target="_blank">Google Analytics <span
            class="menu-icon fa fa-external-link"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="http://piwik.org/docs/data-analytics-api/"
           data-analytics-on="click" data-analytics-event="piwik" data-analytics-category="quicklinks"
           target="_blank">Piwik Analytics <span class="menu-icon fa fa-external-link"></span></a>
      </li>

    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="https://github.com/SchumacherFM/wanderlust" target="_blank"
           data-analytics-on="click" data-analytics-event="repo" data-analytics-category="help">
          Github
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/SchumacherFM/wanderlust" target="_blank"
           data-analytics-on="click" data-analytics-event="about" data-analytics-category="help">
          About
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/SchumacherFM/wanderlust/issues" target="_blank"
           data-analytics-on="click" data-analytics-event="issues" data-analytics-category="help">
          Support
        </a>
      </div>
    </div>
  </div>

  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->

      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown">

              <a href="#" class="dropdown-toggle" data-ng-show="session.isLoggedIn">
                <img gravatar-src="session.email"/>
              </a>
              <a href="#" data-ng-click="login()" class="dropdown-toggle" data-ng-show="!session.isLoggedIn"
                 data-analytics-on="click" data-analytics-event="login" data-analytics-category="auth">
                <img src="img/avatar.jpg" alt="Please Login" title="Please log in">
              </a>

              <ul data-ng-show="session.isLoggedIn" class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header"> Joe Bloggs</li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#" data-analytics-on="click" data-analytics-event="profile"
                     data-analytics-category="auth"> Profile </a>
                </li>
                <li class="link">
                  <a href="#" data-analytics-on="click" data-analytics-event="menuitem"
                     data-analytics-category="auth"> Menu Item </a>
                </li>
                <li class="link">
                  <a href="#"> Menu Item </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a data-ng-click="logout()" class="fa fa-sign-out" data-analytics-on="click"
                     data-analytics-event="logout" data-analytics-category="auth"> Logout </a>
                </li>
              </ul>

            </div>
            <div class="item dropdown">
              <a href="#" class="dropdown-toggle">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Notifications
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Server Down!</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Wanderlust
            </div>
            <div class="breadcrumb-links">
              Home / Dashboard
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!-- Alerts -->
      <div class="col-xs-12">
        <alert data-ng-repeat="msg in alert.messages" type="{{msg.type}}" close="alert.dismiss($index)">{{msg.message}}</alert>
      </div>

      <!-- Main Content -->
      <section data-ui-view></section>
      <!-- End Content -->
    </div>
    <!-- End Page Content -->
  </div>
  <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
</body>
</html>
